<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="signupForm">
        <div class="box">
            <h1>Sign Up Form</h1>
            <h2>Create an account and lets gets started</h2>
        </div>
        <div class="box">

            <form action="" id="signupForm">
                <input id="username" type="text" placeholder="Username" required>
    
                <input id="fullName" type="text" placeholder="Full Name" required>

                <input id="email" type="text" placeholder="Email" required>
    
                <input id="password" type="password" placeholder="Password" required>
    
                <input id="retypePassword" type="password" placeholder="Re-type Password" required>

                <button id="submitBtn" type="submit">Create</button>

            </form>

        </div>
    </div>
    

    <script src="/js/signup.js"></script>
</body>
</html>